version: 2.1
orbs:
 python: circleci/python@1.5.0
jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: |
            mkdir test-results
            pytest --junitxml=test-results/junit.xml test_app.py 
      - store_test_results:
          path: test-results
      - store_artifacts:
          path: test-results
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: docker build and push to dockerhub
          command: |
           TAG=1.$CIRCLE_BUILD_NUM
           docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$TAG .
           echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
           docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:$TAG

      - run: 
          name: Push to Artifactory
          command: |
            TAG=1.$CIRCLE_BUILD_NUM
            echo $ARTIFACTORY_API_KEY | docker login devopsexercise.jfrog.io -u $ARTIFACTORY_USERNAME --password-stdin
            docker tag $DOCKERHUB_USERNAME/$IMAGE_NAME:$TAG devopsexercise.jfrog.io/devops-exercise-docker/$IMAGE_NAME-docker-remote:$TAG
            docker push $ARTIFACTORY_URL/$ARTIFACTORY_REPO/$IMAGE_NAME-docker-remote:$TAG
      - run:
          name: Install JFrog CLI
          command: curl -fL https://getcli.jfrog.io | sh
      - run:
          name: Push to Artifactory
          command: |
             TAG=1.$CIRCLE_BUILD_NUM
            ./jfrog config add artifactory_config --artifactory-url $ARTIFACTORY_URL --user $ARTIFACTORY_USERERNAME --apikey $ARTIFACTORY_API_KEY --interactive=false
          ./jfrog rt u test-results/junit.xml $ARTIFACTORY_REPO --build-name=$IMAGE_NAME:1.$CIRCLE_BUILD_NUM --build-number=$CIRCLE_BUILD_NUM
workflows:
  sample:
    jobs:
      - build-and-test
