version: 2.1
orbs:
 python: circleci/python@1.5.0
jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10.2
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - run:
          name: Run tests
          command: pytest test_app.py
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: docker build and push to dockerhub
          command: |
           TAG=1.$CIRCLE_BUILD_NUM
           IMAGE_NAME=devops_exercise
           docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$TAG .
           echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin
           docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:$TAG

      - run: 
          name: Push to Artifactory
          command: |
            TAG=1.$CIRCLE_BUILD_NUM
            IMAGE_NAME=devops_exercise
            echo $ARTIFACTORY_API_KEY | docker login devopsexercise.jfrog.io -u $ARTIFACTORY_USERNAME --password-stdin
            docker tag $DOCKERHUB_USERNAME/$IMAGE_NAME:$TAG devopsexercise.jfrog.io/devops-exercise-docker/$IMAGE_NAME-docker-remote:$TAG
            docker push devopsexercise.jfrog.io/devops-exercise-docker/$IMAGE_NAME-docker-remote:$TAG
workflows:
  sample: # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - build-and-test
